body{
	background-size:100% auto;
}

.panel-body{
	background-image: url('/banner/background_panel.jpg');
	background-size: 100% auto;
}

.control-label{
	color: white;
}

.bgimg{
	background-image: url('/banner/background_post.jpg');
	background-size: 100% auto;
	color: white;
}

.illidan{
	background-image: url('/banner/background_post_list.jpg');
	background-size: 100% auto;
	color: white;
}

input:invalid{
	background-color: #F45254
}
