     <div class="alert alert-success" ng-show="showSuccessAlert">
       <button type="button" class="close" data-ng-click="showSuccessAlert = false;" >×</button>
       <strong>Well done!</strong> Transaction complete.
     </div>

     <div class="alert alert-danger" ng-show="showFailureAlert">
       <button type="button" class="close" data-ng-click="showFailureAlert = false;" >×</button>
       <strong>Fail!</strong> Transaction not completed.
     </div>