<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/external.css"/>




</head>

<body ng-app="spicyApp1" background="/background.jpg">

  <%- include navbar.ejs %>
  <div class="row">

    <div ng-controller="groupIndexController" ng-init="loadGroup()" style="margin-top: 100px;" class="container">
      <div class="col-md-8">
        <div class="panel panel-info" style="position: relative; top: 20px; opacity: 0.85;">
          <div class="panel-heading clearfix">
            <div class="panel-title">Group Index
              <div ng-show="admin" class="pull-right">
                <button ng-click="removeGroup();" class="btn btn-danger btn-sm">Terminate Group</button>
              </div>
            </div>


          </div>     

          <div style="padding-top:30px" class="panel-body">

            <!-- -->
            <form ng-show="admin" class="form-horizontal" action="" method="post">



              <!-- Name input-->
              <fieldset class="form-group">
                <label class="col-md-2 control-label" for="groupName">Group Name</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="groupName" required  minlength="2" maxlength="20" title="1 to 20 characters" ng-value="group.nome">
                </div>
              </fieldset>

              <fieldset class="form-group">
                <label class="col-md-2 control-label" for="groupDescription">Description</label>
                <div class="col-md-8">
                  <textarea class="form-control" id="groupDescription" name="groupDescription" maxlength="200"  title="0 to 200 characters" rows="5">{{group.descricao}}</textarea>
                </div>
              </fieldset>

              <button ng-click="updateGroup()" type="button" class="btn btn-success pull-right">Update</button>
            </form>  

            <form ng-hide="admin" class="form-horizontal" action="" method="post">



              <!-- Name input-->
              <fieldset class="form-group">
                <label class="col-md-2 control-label" for="groupName">Group Name</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="groupName" disabled ng-value="group.nome">
                </div>
              </fieldset>

              <fieldset class="form-group">
                <label class="col-md-2 control-label" for="groupDescription">Description</label>
                <div class="col-md-8">
                  <textarea class="form-control" id="groupDescription" disabled name="groupDescription" rows="5">{{group.descricao}}</textarea>
                </div>
              </fieldset>

            </form>   
          </div>                    
        </div> 
      </div>
      <div ng-controller="groupMemberList" ng-init="loadMembers();"class="col-md-4" style="margin-top: 20px;">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">
              Group Members</h3>

            </div>
            <ul class="list-group">
              <!--<a ng-href="/freewilly/index?username={{admin}}" class="list-group-item">{{admin}}</a>-->
              <a ng-repeat="member in members" ng-href="/freewilly/index?username={{member.usuario}}" class="list-group-item">{{member.usuario}}</a>
              <button ng-show="addButton" ng-click="showForm()" class=" btn btn-block btn-success">Add member</button>

              <div ng-hide="addButton" class="input-group" >
                <input id="newMemberUsername" type="text" class="form-control" required minlength="4" maxlength="10" pattern="[A-Za-z]{4, 10}"  title="4 to 10 characters" placeholder="new member username">
                <span class="input-group-btn">
                  <button ng-click="addMember(); hideForm();" class="btn btn-default" type="button">Add</button>
                </span>
              </div><!-- /input-group -->


            </ul>
          </div>

        </div>

      </div>


      <!-- Page Content -->
      <!-- /.container -->

      <div ng-controller="groupPostController" ng-init="loadPosts()" class="container">
        <div ng-repeat="post in posts" class="well">
          <div  class="media">
            <a class="pull-left" href="#">
              <img ng-src="/avatar/{{post.foto}}" class="img-circle" height="125" width="125">
            </a> 
            <div class="media-body">
              <h4 class="media-heading">{{post.titulo}}</h4>
              <p class="text-left">{{post.usuario}}</p>
              <p>{{post.conteudo}}</p>
              <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i> {{post.data}} </span></li>
                <li>|</li>
                <li ng-show="post.liked"><span><button class="btn btn-info btn-sm">Liked</button></span></li>
                <li ng-hide="post.liked"><span><button class="btn btn-info btn-sm">Like</button></span></li>
                <li>|</li>
                <li ng-show="post.shared"><span><button class="btn btn-info btn-sm">Shared</button></span></li>
                <li ng-hide="post.shared"><span><button class="btn btn-info btn-sm">Share</button></span></li>
                <li>|</li>

              </div>

            </div>
          </div>
        </div>

      </body>

      </html>
