<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/external.css"/>
    



</head>

<body ng-app="spicyApp1" background="/background.jpg">

    <%- include navbar.ejs %>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div ng-controller="indexController" ng-init="loadUser();" class="col-md-6" style="margin-top: 20px;">
                <div class="well orc">
                  <div  class="media">
                    <a class="pull-left" href="#">
                      <img ng-src="/avatar/{{usuario.foto}}" class="img-circle" height="125" width="125">
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">{{usuario.usuario}}</h4>
                      <p class="text-left"><a ng-href="/frewilly/user?username={{usuario.usuario}}">{{usuario.nome}}</a></p>
                      <p>{{usuario.descricao}}</p>
                  </div>

              </div>
          </div>
      </div>
      <div ng-controller="postController" ng-init="loadPosts();" class="col-md-8" style="margin-top: 20px;">
        <div ng-repeat="post in posts" class="well bgimg">
          <div  class="media">
            <a class="pull-left" href="#">
              <img ng-src="/avatar/{{post.foto}}" class="img-circle" height="125" width="125">
          </a>
          <div class="media-body">
              <h4 class="media-heading">{{post.titulo}}</h4>
              <p class="text-left"><a ng-href="/frewilly/user?username={{post.usuario}}">{{post.usuario}}</a></p>
              <p>{{post.conteudo}}</p>
              <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i> {{post.data}} </span></li>
                <li>|</li>
                <li ng-show="post.reacao == 1 || false"><span><button ng-click="unlike($index)" class="btn btn-success btn-sm">Liked</button></span></li>
                <li ng-show="post.reacao == 0 || !post.reacao"><span><button ng-click="like($index)" class="btn btn-info btn-sm">Like</button></span></li>
                <li>|</li>
                <li ng-show="post.compartilhou || false"><span><button class="btn btn-success btn-sm">Shared</button></span></li>
                <li ng-hide="post.compartilhou || false"><span><button ng-click="share($index)" class="btn btn-info btn-sm">Share</button></span></li>
                <li>|</li>

            </div>

        </div>
    </div>

</div>





</div>


</div>
</div>
</div>

</div>

<!-- Page Content -->
<!-- /.container -->



</body>

</html>
