<head>
  <meta charset="UTF-8">
  <title>Example - example-example8-production</title>
  

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/external.css"/>
</head>



<body ng-app="spicyApp1" background="/background.jpg">
 <%- include navbar.ejs %>

 <div class="container">   
   <div class="row"> 
    <div ng-controller="newPostController" ng-init="loadMyGroups()" id="newPostBox" style="margin-top:50px;" class="col-md-8">                    
      <div class="panel panel-info" style="position: relative; top: 20px; opacity: 0.85;">
        <div class="panel-heading clearfix">
          <div class="panel-title">New Post
          </div>


        </div>     

        <div style="padding-top:30px" class="panel-body">

          <!-- -->
          <form class="form-horizontal" action="" method="post">



            <!-- Name input-->
            <fieldset class="form-group">
              <label class="col-md-2 control-label" for="postTitle">Title</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="postTitle" placeholder="post title">
              </div>
            </fieldset>

            <fieldset class="form-group">
              <label class="col-md-2 control-label" for="postContent">Message</label>
              <div class="col-md-8">
                <textarea class="form-control" id="postContent" name="postContent" rows="5"></textarea>
              </div>
            </fieldset>

            <fieldset class="form-group">


             <label class="col-md-2 control-label" for="postGroup">Group Post:</label>
             <div class="col-md-3">
              <select ng-model="inGroup" class="form-control" id="postGroup" name="postGroup">
               <option value="">No</option>
               <option ng-repeat="group in myGroups" ng-value="group.idgrupo">{{group.nome}}</option>
             </select>
           </div>

         </fieldset>

         <button ng-click="createPost()" type="button" class="btn btn-primary">Post</button>
       </form>     
     </div>                     
   </div>  
 </div>
</div>






</div>

</div>



</body>

