<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/external.css"/>
    



</head>

<body ng-app="spicyApp1" background="/background.jpg">

    <%- include navbar.ejs %>
    <div class="row">

        <div ng-controller="userController" ng-init="loadUser()" style="margin-top: 100px;" class="container">
          <div class="well col-md-6">
              <div class="media">
                <a class="pull-left" ng-href="/freewilly/user?username={{usuario.usuario}}">
                    <img ng-src="/avatar/{{usuario.foto}}" class="img-circle" height="100" width="100">
                </a>
                <div class="media-body">
                    <h2 class="media-heading">{{usuario.usuario}}</h2>
                    <p class="text-left">{{usuario.nome}}</p>
                    <p>{{usuario.descricao}}</p>
                    <ul class="list-inline list-unstyled">
                        <li ng-show="usuario.following">
                            <button ng-click="unfollow($index)" class="btn btn-success btn-block"> Following </button>
                        </li>

                        <li ng-hide="usuario.following">
                            <button ng-click="follow($index)" class="btn btn-info btn-block"> Follow </button>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Page Content -->
<!-- /.container -->

<div ng-controller="groupListController" ng-init="loadUserGroups();" class="col-md-4" style="margin-top: 70px;">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        My Groups</h3>
      </div>
      <ul class="list-group">
        <a ng-repeat="group in groups" ng-href="/freewilly/groupindex?group={{group.idgrupo}}" class="list-group-item">{{group.nome}}</a>

      </ul>
    </div>

  </div>

<div ng-controller="postController" ng-init="loadUserPosts();" class="col-md-8" style="margin-top: 20px;">
    <div ng-repeat="post in posts" class="well bgimg">
      <div  class="media">
        <a class="pull-left" href="#">
          <img ng-src="/avatar/{{post.foto}}" class="img-circle" height="125" width="125">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{post.titulo}}</h4>
          <p class="text-left">{{post.usuario}}</p>
          <p>{{post.conteudo}}</p>
          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-calendar"></i> {{post.data}} </span></li>
            <li>|</li>
            <li ng-show="post.liked"><span><button class="btn btn-info btn-sm">Liked</button></span></li>
            <li ng-hide="post.liked"><span><button class="btn btn-info btn-sm">Like</button></span></li>
            <li>|</li>
            <li ng-show="post.shared"><span><button class="btn btn-info btn-sm">Shared</button></span></li>
            <li ng-hide="post.shared"><span><button class="btn btn-info btn-sm">Share</button></span></li>
            <li>|</li>

          </div>

        </div>
      </div>

    </div>

    <div ng-controller="myGroupsListController" ng-init="loadUserGroups();"class="col-md-4" style="margin-top: 20px;">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            Groups I Own</h3>
          </div>
          <ul class="list-group">
            <a ng-repeat="group in groups" ng-href="/freewilly/groupindex?group={{group.idgrupo}}" class="list-group-item">{{group.nome}}</a>
            <a href="/freewilly/newgroup" class=" btn btn-block btn-success">New group</a>

          </ul>
        </div>

      </div>
</div>

</body>

</html>
